<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958103961977-cc79s5vbugvogjd25rrmcc21bp7ob3vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958103961977-cc79s5vbugvogjd25rrmcc21bp7ob3vh</string>
	<key>API_KEY</key>
	<string>AIzaSyDDdR-CsLQWK_wuSorTsAcVopykm3lL9cc</string>
	<key>GCM_SENDER_ID</key>
	<string>958103961977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resumemanagement</string>
	<key>PROJECT_ID</key>
	<string>resume-1793e</string>
	<key>STORAGE_BUCKET</key>
	<string>resume-1793e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958103961977:ios:3538b163cfb5988ee22fa8</string>
</dict>
</plist>